:root {
  --bs-primary-rgb: 66, 69, 51 !important;
  --bs-secondary-rgb: 225, 146, 47 !important;
  --bs-primary: #424533 !important;
  --bs-secondary: #e1922f !important;
  --main-gradient: linear-gradient(
    140deg,
    rgba(66, 69, 51, 1) 9%,
    rgba(225, 146, 47, 1) 83%
  );
  scroll-padding-top: 65px;
}

.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #424533 !important;
  --bs-btn-border-color: #424533 !important;
  --bs-btn-hover-bg: #e1922f !important;
  --bs-btn-hover-border-color: #e1922f !important;
  --bs-btn-active-bg: #e1922f !important;
  --bs-btn-active-border-color: #e1922f !important;
  --bs-btn-disabled-bg: #424533 !important;
  --bs-btn-disabled-border-color: #424533 !important;
}

body {
  font-family: "Roboto", sans-serif !important;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", "Roboto", sans-serif;
}
#root {
  min-height: 100%;
}

.navbar {
  backdrop-filter: blur(30px) saturate(85%);
}

.navbar-brand {
  width: 150px;
}

#hero-carousel .carousel-inner {
  height: 100lvh;
  margin-top: -58px;
}
#hero-carousel .carousel-item img {
  /* filter: contrast(120%); */
}

#hero-carousel .carousel-caption {
  right: auto !important;
  bottom: 0 !important;
  left: 0 !important;
  backdrop-filter: brightness(0.4);
  padding: 1rem !important;
  border-radius: 0 0.5rem 0 0;
}

#hero-carousel h4 {
  margin: 0 !important;
}

.carousel-control-prev,
.carousel-control-next {
  top: auto !important;
  background-color: black !important;
  width: 55px !important;
  height: 55px !important;
}
.carousel-control-prev {
  left: auto !important;
  right: 55px !important;
}
/* .hero {
  height: 100lvh;
  margin-top: -66px;
  background-image: url("./assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  filter: contrast(120%);
} */

/* .hero h1 {
  text-shadow: 2px 2px 2px #000000;
  backdrop-filter: blur(30px);
} */

a.hover-sec:hover,
a.hover-sec:focus {
  color: var(--bs-secondary) !important;
}
.hover-sec:hover,
.hover-sec.active {
  color: var(--bs-secondary) !important;
}
.bg-hover-sec:hover {
  background-color: var(--bs-secondary) !important;
}

.border-gradient {
  border-width: 5px;
  border-style: solid;
  border-image: var(--main-gradient) 1;
}
.bg-main-gradient {
  background: var(--main-gradient);
}
.contact-info i {
  width: 50px;
  height: 50px;
  text-align: center;
}
.contact-info:hover i {
  background-color: var(--bs-secondary) !important;
}
.projects-slider .slick-center img {
  transform: scale(1.1);
}
.projects-slider img {
  transition: 0.3s;
}
.clients img {
  filter: grayscale(1);
  height: 50px;
}
.clients img:hover {
  filter: grayscale(0);
}
.service-card i {
  width: 64px;
  height: 64px;
}
.service-card:hover i {
  background-color: var(--bs-secondary) !important;
}
.service-card:hover h5 {
  color: var(--bs-secondary) !important;
}
textarea {
  resize: none !important;
}

/* h2::first-letter {
  font-size: 52px;
  color: #e1922f;
} */

@media screen and (min-width: 768px) {
  .navbar-brand {
    width: 180px;
  }

  #hero-carousel .carousel-inner {
    margin-top: -60px;
  }

  #hero-carousel .carousel-caption {
    padding: 1.5rem !important;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 75px !important;
    height: 75px !important;
  }
  .carousel-control-prev {
    right: 75px !important;
  }
}
